<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        body {
            background: white;
            font-family: 'Poppins', sans-serif;
        }

        .hero-section {
            background-color: #2749AD;
            color: white;
            padding: 40px 0;
            text-align: center;
            position: relative;
            margin-bottom: 0px
        }

        .hero-section h2 {
            font-size: 2.5rem;
            font-weight: bold;
            margin: 0;
        }

        .hero-section p {
            font-size: 1.2rem;
            margin-top: 10px;
        }

        .floating-elements {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
        }

        .floating-circle {
            position: absolute;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            animation: float 6s ease-in-out infinite;
        }

        @keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }

            100% {
                transform: translateY(0);
            }
        }

        .circle-1 {
            width: 100px;
            height: 100px;
            top: 20%;
            left: 10%;
        }

        .circle-2 {
            width: 150px;
            height: 150px;
            top: 50%;
            right: 10%;
        }

        .circle-3 {
            width: 80px;
            height: 80px;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }

        .card-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
            padding: 0 15px;
            margin-top: 30px;
        }

        .info-card {
            color: white;
            border-radius: 10px;
            padding: 25px;
            flex: 1;
            min-width: 250px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: transform 0.3s;
        }

        .info-card:hover {
            transform: scale(1.05);
        }

        .info-card .icon {
            font-size: 2.5rem;
            padding: 20px;
            border-radius: 100%;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: background 0.3s;
        }

        .info-card:hover .icon {
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
        }

        .profile-card {
            background-color: #FF6F61;
        }

        .appointment-card {
            background-color: #4CAF50;
        }

        .doctors-card {
            background-color: #3B5998;
        }

        .info-card h3 {
            font-size: 1.2rem;
            margin-bottom: 5px;
        }

        .info-card p {
            font-size: 1.5rem;
            margin: 0;
            font-weight: bold;
            text-align: left;
        }

        .table-section {
            padding: 30px;
            margin-top: -10px;
        }

        .table-container {
            padding: 30px;
            background-color: #fff;
        }

        table.dataTable.no-footer {
            border-bottom: 1px solid #dee2e6;
        }

        table thead th {
            border-bottom: 2px solid #dee2e6;

        }

        table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
        table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
            top: 50%;
            left: 10px;
            height: 15px;
            width: 15px;
            margin-top: -7px;
            border: none;
            border-radius: 50%;
            background-color: #2749AD;
            content: '+';
            color: white;
            font-size: 14px;
        }

        @media (max-width: 576px) {
            .table-section {
                padding: 10px;
            }

            .table-container {
                padding: 15px;
            }

            .hero-section h2 {
                font-size: 2rem;
            }

            .hero-section p {
                font-size: 16px;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button {
                padding: 0.25rem 0.5rem;
                margin: 0 2px;
                font-size: 15px;
            }

            .dataTables_wrapper .dataTables_filter {
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
            }
        }
    </style>
</head>

<body>

    <div class="hero-section">
        <h2>Welcome to Admin Dashboard</h2>
        <p>Plesae maintain dashboard very carefully</p>

        <div class="floating-elements">
            <div class="floating-circle circle-1"></div>
            <div class="floating-circle circle-2"></div>
            <div class="floating-circle circle-3"></div>
        </div>
    </div>

    <%-include ('Header') %>


        <div class="card-section container">
            <div class="info-card profile-card">
                <img src="/Upload/<%=adminData.Profile_Image%>" alt="Admin Profile"
                    style="width: 60px; height: 60px; border-radius: 50%; margin-right: 10px;">
                <div>
                    <h3>Admin Profile</h3>
                    <p>
                        <%=adminData.Name%>
                    </p>
                </div>
            </div>
            <div class="info-card appointment-card">
                <div class="icon"><i class="fas fa-calendar-check"></i></div>
                <div>
                    <h3>Total Appointments</h3>
                    <p>
                        <%=appoinmentCount%>
                    </p>
                </div>
            </div>
            <div class="info-card doctors-card">
                <div class="icon"><i class="fas fa-user-md"></i></div>
                <div>
                    <h3>Registered Doctors</h3>
                    <p>
                        <%=doctor%>
                    </p>
                </div>
            </div>
        </div>


        <div class="table-section">
            <div class="container">
                <div class="table-container">
                    <h3>Appointments List</h3>
                    <table id="jobTable" class="table table-striped table-bordered dt-responsive nowrap"
                        style="width:100%">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Patient Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Message</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% appoinment.forEach(function(patient, Index) { %>
                                <tr>
                                    <td>
                                        <%=Index+1%>
                                    </td>

                                    <td>
                                        <%=patient.Patient_Name%>
                                    </td>


                                    <td>
                                        <%=patient.Mobile%>
                                    </td>


                                    <td>
                                        <%=patient.Email%>
                                    </td>


                                    <td>
                                        <%=patient.Appointment_Date%>
                                    </td>


                                    <td>
                                        <%=patient.Appointment_Time%>
                                    </td>

                                    <td>
                                        <%=patient.Message%>
                                    </td>
                                    <td>
                                        <%=patient.Status%>
                                    </td>
                                    <td>
                                        <% if (patient.Status==='Pending' ) { %>
                                            <div class="d-flex gap-2">

                                                <a class="btn btn-primary" href="/accept/<%= patient._id %>"
                                                    role="button">Accept</a>


                                                <a class="btn btn-primary" href="/reject/<%= patient._id %>"
                                                    role="button">Reject</a>

                                            </div>

                                            <% } else { %>
                                                <span class="badge bg-info text-white">
                                                    <%= patient.Status %>
                                                </span>
                                                <% } %>
                                    </td>


                                </tr>

                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#jobTable').DataTable({
                    responsive: true,

                });
            });
        </script>
</body>

</html>