<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Data Table</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0.5em 1em;
            margin: 0.1em;
            border: 1px solid #007bff;
            border-radius: 0.25em;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background-color: #007bff;
            color: white;
        }

        .dataTables_wrapper .dataTables_filter input {
            margin-left: 0.5em;
        }

        table.dataTable thead th {
            background-color: #007bff;
            color: white;
        }
        h2{
text-align: left;
margin-left: -200px;

        }

    </style>
</head>

<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary" href="/Student_Registration_2024" role="button">+Add New</a>
            </div>

            <div class="col-md-6">
                <h2 class="mb-4">Responsive Data Table</h2>
            </div>

        </div>





        <table id="example" class="display table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th> Father Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th> Password</th>
                    <th>Course</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <% candidate.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.Student_Name %>
                        </td>
                        <td>
                            <%= user.Father_Name %>
                        </td>
                        <td>
                            <%= user.Mobile %>
                        </td>
                        <td>
                            <%= user.Email %>
                        </td>
                        <td>
                            <%= user.Username %>
                        </td>
                        <td>
                            <%= user.Password %>
                        </td>
                        <td>
                            <%= user.Course %>
                        </td>
                        <td>
                            <%= user.Gender %>
                        </td>
                        <td>
                            <%= user.DOB %>
                        </td>

                        <td>
                            <%= user.Image %>
                        </td>

                        <td>
                            <a  href="/Delete/<%= user._id %>" role="button"><i class="fa-solid fa-trash"></i></a>
                            <a  href="/Update/<%= user._id%>" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a  href="/Student_Registration_2024" role="button"><i class="fa-solid fa-eye"></i></a>
                        </td>
                    </tr>
                    <% }) %>




            </tbody>
        </table>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Initialize DataTable -->
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                paging: true,
                searching: true,
                info: true,
                responsive: true
            });
        });

    </script>
</body>

</html>